.header > .label {
    -fx-alignment:center;
}

.overview {
    -fx-padding: 0 0 0 20;
}

.overview > .title {
    -fx-font-size: 28;
    -fx-font-weight: bolder;
}

.overview > .infoPane {
    -fx-font-size: 14;
    -fx-padding: 5 0 5 5;
}

.overview > .infoPane > .label {
    -fx-padding: 2 8 2 2;
}

.overview >.infoPane .button {
    -fx-padding: 10 8 2 2;
}

.activity {
    -fx-padding: 0 0 16 16;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 2;
}

.costManagement {
    -fx-padding: 0 0 0 20;
}

.costManagement > .title {
    -fx-font-size: 28;
    -fx-font-weight: bolder;
}

.chartComponent > .activity {
    -fx-padding: 0;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1;
}

.chartComponent > .date {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1;
}